/*
Theme Name:     The Metropolitan Detroit
Theme URI:      http://www.wpshower.com
Description:    Child of the Sight theme
Author:         The Lodge Media Group
Author URI:     http: //www.thelodgemediagroup.com/
Template:       sight
Version:        0.1.0
*/
 
@import url("../sight/style.css");

body {font: 62.5% Georgia, Geneva, "Times New Roman", times; background-color: #FFF; padding: 24px 0;}
h1 {font-weight: normal;}
.wrapper {
	width: 973px;
}

#content {
	font-family: "Helvetica", "Arial", sans-serif;
}

.logo {width: 771px; height: 147px; padding: 18px 0 12px 0px; overflow: hidden; float: left;}
.logo img {max-height: 147px; max-width: 771px;}

.search {
	margin-top: 98px;
}

#slideshow, .slideshow {
	height: 400px;
}

.slide {
	background: #666D72;
	height: 400px;
}

.slide img {
	height: 400px;
}

.slide .post-content {
	color: white;
}

.slide .post h2, .slide .post h2 a {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 36px;
	color: white;
}

.slideshow-post {
	padding-top: 200px;
}

.sidebar {width: 316px; padding: 0px 0px 0 0; float: right;}

#container {
	padding-top: 0px;
}

#distributor-header {
	clear: both;
}

.content-title {
	border-bottom: 1px solid black;
	height: 34px;
	position: relative;
}

.content-title h1 {
	font-size: 16px;
	position: absolute;
	bottom: 4px;
	left: 0px;
}

.current-issue {
	clear: both;
	margin-bottom: 21px;
	padding-left: 15px;
}

.metdet-page {
	font-family: "Helvetica", "Arial", sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	padding-top: 10px;
}

.metdet-page a {
	color: black;
}

.metdet-page h1 {
	font-size: 36px;
}

.metdet-page h2 {
	color: #A9A9A9;
	font-size: 24px;
	padding-top: 20px;
}

#distributor-row-left {
	float: left;
	width: 50%;
}

#distributor-row-right {
	float: right;
	padding-top: 20px;
	width: 50%;
}

.mdd-distributor {
	padding-bottom: 15px;
}

.lowercase {
	text-transform: lowercase;
}

#sidebar-headline {
	border-top: 1px solid black;
	height: 16px;
}

#sidebar-headline h1 {
	bottom: 5px;
}

#sidebar-issue-years {
	border-bottom: 1px solid black;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 56px;
}

.headline-row {
	clear: both;
	padding-top: 8px;
	width: 316px;
}

.headline-row a:link, a:hover, a:visited {
	text-decoration: none;
}

#year-09 {
	color: #A8A9AD;
	
}

#year-10 {
	color: #8A8C90;
	padding-left: 10px;
}

#year-11 {
	color: #818183;
	padding-left: 10px;
}

#year-12 {
	color: #4D4D4F;
	float: right;
}

#year-13 {
	color: black;
	padding-left: 50px
}

#sidebar-topics {
	padding-top: 15px;
}

.article-home {
	border-bottom: 1px solid black;
	clear: none;
	font-family: "Helvetica", "Arial", sans-serif;
	height: 446px;
	margin: 10px 0px 0px 0px;
	position: relative;
	width: 310px;
}

.article-home img {
	height: 234px;
	width: 310px;
}

.article-home h2 {
	font-size: 16px;
}

.read-more {
	color: #9E9EA0;
	font-size: 12px;
	position: absolute;
	bottom: 5px;
	right: 0px;
	text-transform: lowercase;
}

.read-more a:link a:hover a:active a:visited {
	text-decoration: none;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.display-issue-list {
	font-size: 18px;
	text-align: center;
	width: 205px;
}

.display-issue-list p {
	font-size: 14px;
	text-transform: none;
}

.display-issue-list a:link {
	color: black;
	text-decoration: none;
}

.issue-img {
	clear: both;
	margin: 0px auto;
}

.issue-year-highlight {
	color: #8A8C90;	
}

.in-depth-issue p {
	font-size: 14px;
	text-transform: none;
}