/*
Theme Name:     The Metropolitan Detroit
Theme URI:      http://www.wpshower.com
Description:    Child of the Sight theme
Author:         The Lodge Media Group
Author URI:     http: //www.thelodgemediagroup.com/
Template:       sight
Version:        0.1.0
*/
 
@import url("../sight/style.css");

body {font: 62.5% Georgia, Geneva, "Times New Roman", times; background-color: #FFF; padding: 24px 0;}
h1 {font-weight: normal;}
.wrapper {
	width: 973px;
}
.clearfix {
	clear: both;
}
#content {
	font-family: "Helvetica", "Arial", sans-serif;
}

.logo {width: 771px; height: 147px; padding: 0px 0 12px 0px; overflow: hidden; float: left;}
.logo img {max-height: 147px; max-width: 771px;}
.logo > h1 {
	font-family: arial;
	font-size: 4em;
	font-weight: 400;
	letter-spacing: 1px;
	text-rendering: optimizelegibility;
	text-transform: uppercase;
}
.logo a {
	color: black;
	display: block;
	text-decoration: none;
}
.logo a:hover {
	color: #8a8c90;
}
.detroit {
	font-family: Georgia;
	font-size: 1.4em;
	line-height: 1em;
}

.search {
	margin-top: 98px;
}

#slideshow, .slideshow {
	height: 400px;
}

.slide {
	background: #666D72;
	height: 400px;
}

.slide img {
	height: 400px;
}

.slide .post-content {
	color: white;
}

.slide .post h2, .slide .post h2 a {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 36px;
	color: white;
}

.slideshow-post {
	padding-top: 200px;
}

.sidebar {width: 316px; padding: 0px 0px 0 0; float: right;}

#container {
	padding-top: 0px;
}

#distributor-header {
	clear: both;
}

.content-title {
	border-bottom: 1px solid black;
	height: 34px;
	position: relative;
}

.content-title h1 {
	font-size: 16px;
	position: absolute;
	bottom: 4px;
	left: 0px;
}

.current-issue {
	clear: both;
	margin-bottom: 21px;
	padding-left: 15px;
}

.metdet-page {
	font-family: "Helvetica", "Arial", sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	padding-top: 10px;
}

.metdet-page a {
	color: black;
}

.metdet-page h1 {
	font-size: 36px;
}

.metdet-page h2 {
	color: #A9A9A9;
	font-size: 24px;
	padding-top: 20px;
}

#distributor-row-left {
	float: left;
	width: 50%;
}

#distributor-row-right {
	float: right;
	padding-top: 20px;
	width: 50%;
}

.mdd-distributor {
	padding-bottom: 15px;
}

.lowercase {
	text-transform: lowercase;
}

#sidebar-headline {
	border-top: 1px solid black;
	height: 16px;
}

#sidebar-headline h1 {
	bottom: 5px;
}

#sidebar-issue-years {
	border-bottom: 1px solid black;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 56px;
}

.headline-row {
	clear: both;
	padding-top: 8px;
	width: 316px;
}

.headline-row a:link, a:hover, a:visited {
	text-decoration: none;
}

#year-09 {
	color: #A8A9AD;
	
}

#year-10 {
	color: #8A8C90;
	padding-left: 10px;
}

#year-11 {
	color: #818183;
	padding-left: 10px;
}

#year-12 {
	color: #4D4D4F;
	float: right;
}

#year-13 {
	color: black;
	padding-left: 50px
}

#sidebar-topics {
	padding-top: 15px;
}

.article-home {
	border-bottom: 1px solid black;
	clear: none;
	font-family: "Helvetica", "Arial", sans-serif;
	height: 446px;
	margin: 10px 0px 0px 0px;
	position: relative;
	width: 310px;
}

.article-home img {
	height: 234px;
	width: 310px;
}

.article-home h2 {
	font-size: 16px;
}

.read-more {
	color: #9E9EA0;
	font-size: 12px;
	position: absolute;
	bottom: 5px;
	right: 0px;
	text-transform: lowercase;
}

.read-more a:link a:hover a:active a:visited {
	text-decoration: none;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.issue-info {
	height: 100%;
	width: 510px;
}

.display-issue-list {
	background-color: #F2EFEF;
	float: left;
	font-size: 18px;
	height: 180px;
	margin: 3px 0px 3px 0px;
	width: 100%;
}

.issue-info > h2 {
	clear: both;
	float: left;
	padding-left: 10px;
}

.issue-info > p {
	clear: both;
	float: left;
	font-size: 14px;
	padding-top: 15px;
	padding-left: 10px;
	text-transform: none;
}

.display-issue-list a:link {
	color: black;
	text-decoration: none;
}

.issue-img {
	clear: none;
	float: left;
	height: 162px;
	padding: 10px;
	width: 107px;
}

.issue-year-highlight {
	color: #8A8C90;	
}

.in-depth-issue p {
	font-size: 14px;
	text-transform: none;
}

.issue-links a {
	background-color: #383838;
	color: white !important; 
	font-size: 0.9em !important; 
	font-weight: 600;
	padding: 0.6em 1em 0.5em 1em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
	-webkit-transition: background-color 100ms linear;
	-moz-transition: background-color 100ms linear;
	-o-transition: background-color 100ms linear;
	-ms-transition: background-color 100ms linear;
	transition: background-color 100ms linear;		
}

.issue-links a:hover {
	background-color: #828282;
     -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;	
}

.article-list {
	height: 180px;
	width: 100%;
}

.article-list-header {
	text-decoration: none;
}

.article-list-header:hover {
	color: #8a8c90;
}

.article-list-readmore {
	text-decoration: none;
}

.article-list-readmore:hover {
	color: #8a8c90;
}

.archive-year {
	background-color: #383838;
	color: white;
	cursor: pointer;
	font-size: 1.3em;
	margin-bottom: 3px;
	margin-right: 5px;
	padding: 0.3em 0.6em 0.25em 0.6em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background-color 100ms linear;
	-moz-transition: background-color 100ms linear;
	-o-transition: background-color 100ms linear;
	-ms-transition: background-color 100ms linear;
	transition: background-color 100ms linear;	
}

.archive-year:hover {
	background-color: #828282;
	-webkit-transition: background-color 100ms linear;
	-moz-transition: background-color 100ms linear;
	-o-transition: background-color 100ms linear;
	-ms-transition: background-color 100ms linear;
	transition: background-color 100ms linear;	
}